@tailwind base;
@tailwind components;
@tailwind utilities;

body, #app {
    overflow-x: hidden !important;
}

*{
    font-family: 'Poppins';
    font-style: normal;
    
}

.btn-ecko {
    background: #FF725E;
    color: #ffff;
}

.btn-ecko:hover {
    background: #ff5c46;
    color: #ffff;
}

